.modal {
  position: fixed;
  top: 15vh;
  left: 50%;
  width: 350px;
  background-color: white;
  padding-top: 1rem;
  padding-bottom: 1.2rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  transform: translateX(-50%);
}

@media (min-width: 768px) {
  .modal {
    width: 400px;
    padding: 1rem;
  }
}
